<a href="https://colab.research.google.com/github/audreyemmely/pln/blob/main/pln_lista2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Resolução Lista 2**

---

Audrey Emmely Rodrigues Vasconcelos

Karen Nayara Gomes da Silva

In [1]:
import pandas as pd
import re
import nltk
import string

In [2]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
df = pd.read_csv('train_data.txt', sep =':::', header = None, engine = 'python', nrows = 10000)
df.columns = ['id', 'title', 'genre', 'description']

###### Questão 1
Determine a distribuição de comprimentos dos textos (em quantidade de caracteres), listando estas quantidades e plotando um histograma.

###### Questão 2
Aplique os seguintes passos de pré-processamento aos textos: 
* Remova todas as palavras que contêm números; 
* Converta as palavras para minúsculas; 
* Remova pontuação; 
* Tokenize os textos em palavras, gerando um dicionário único com *n* tokens e convertendo cada texto em um vetor de dimensão *n* com a respectiva contagem de palavras. 

Em seguida, encontre as palavras mais frequentes da base de textos.

In [4]:
def preprocess(description):
  description = re.sub(r'\w*\d\w*', '', description) #remove todas as palavras que contêm números
  return re.sub(r'\s+', ' ', description) #retira espaços repetidos

In [5]:
df.description = df.description.apply(preprocess)
df.description

0        Listening in to a conversation between his do...
1        A brother and sister with a past incestuous r...
2        As the bus empties the students for their fie...
3        To help their unemployed father make ends mee...
4        The film's title refers not only to the un-re...
                              ...
9995     The show began with Jared and Kristen in . Kr...
9996     The center characters of the film are two kid...
9997     Ashland is the story of Ash Slavin, a lonely ...
9998     Railroad foreman Murray Sinclair is dismissed...
9999     Cruise the radio airwaves to assist the GHR (...
Name: description, Length: 10000, dtype: object

In [6]:
def tokenize_text(raw_text: str):
    tokenized_str = nltk.word_tokenize(raw_text)
    tokens = [i.lower() for i in tokenized_str if i not in string.punctuation]
    return tokens

df['tokenized'] = df.description.apply(tokenize_text)

In [7]:
df

         id  ...                                          tokenized
0         1  ...  [listening, in, to, a, conversation, between, ...
1         2  ...  [a, brother, and, sister, with, a, past, inces...
2         3  ...  [as, the, bus, empties, the, students, for, th...
3         4  ...  [to, help, their, unemployed, father, make, en...
4         5  ...  [the, film, 's, title, refers, not, only, to, ...
...     ...  ...                                                ...
9995   9996  ...  [the, show, began, with, jared, and, kristen, ...
9996   9997  ...  [the, center, characters, of, the, film, are, ...
9997   9998  ...  [ashland, is, the, story, of, ash, slavin, a, ...
9998   9999  ...  [railroad, foreman, murray, sinclair, is, dism...
9999  10000  ...  [cruise, the, radio, airwaves, to, assist, the...

[10000 rows x 5 columns]

###### Questão 3
Aplique os seguintes passos de pré-processamento aos textos processados na questão anterior:

* Remova stopwords;
* Realize rotulação de POS;
* Realize stemização;

Exiba os resultados em alguns textos. Verifique quais são as palavras mais
frequentes e compare com as palavras mais frequentes da questão anterior.

In [8]:
stop_words = set(nltk.corpus.stopwords.words('english'))
def tokenize_text(raw_text: str):
    tokenized_str = nltk.word_tokenize(raw_text)
    tokens = [i.lower() for i in tokenized_str if (i not in string.punctuation) and (i not in stop_words)]
    return tokens

df['tokenized2'] = df.description.apply(tokenize_text)

In [9]:
df

         id  ...                                         tokenized2
0         1  ...  [listening, conversation, doctor, parents, -ye...
1         2  ...  [a, brother, sister, past, incestuous, relatio...
2         3  ...  [as, bus, empties, students, field, trip, muse...
3         4  ...  [to, help, unemployed, father, make, ends, mee...
4         5  ...  [the, film, 's, title, refers, un-recovered, b...
...     ...  ...                                                ...
9995   9996  ...  [the, show, began, jared, kristen, kristen, ev...
9996   9997  ...  [the, center, characters, film, two, kids-a, b...
9997   9998  ...  [ashland, story, ash, slavin, lonely, depresse...
9998   9999  ...  [railroad, foreman, murray, sinclair, dismisse...
9999  10000  ...  [cruise, radio, airwaves, assist, ghr, grindho...

[10000 rows x 6 columns]

**Referências**

[NLTK HOWTO](https://www.nltk.org/howto/portuguese_en.html)